@font-face {
    font-family: 'prompt';
    src: url(../../Fonts/Prompt/Prompt-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 40px;
    width: 95vw;
    font-family: 'prompt', Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, mediumorchid, lightgreen);
    margin-bottom: 50px;
}

* {
    text-align: center;
}
.heading {
    background-color: seagreen;
    color: seashell;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-style:solid;
    border-color: black;
    box-shadow: 10px 10px 10px 0px black;
    animation: fade-in 3s linear;
   
}

#certificates a {
    display: inline-block;
    background: linear-gradient(150deg,seagreen 50%, seashell);
    border: 2px black solid;
    border-radius: 5%;
    padding: 0 10px;
    color: black;
    text-decoration: none;
    box-shadow: 10px 10px 10px 0px;
    animation: fade-in 3s linear;

}

#certificates a:hover {
    background: linear-gradient(150deg,seagreen 30%, seashell);
    transform: scale(1.25);
}

.content-card {
    border: solid black;
    border-radius: 20px;;
    max-width: 75%;
    background-color: lightgreen;
    box-shadow: 10px 10px 10px 0px;
    animation: fade-in 3s linear;
    width: 80%;

}

.content-img {
    min-width: 100%;
    max-width: 100%;
    background-color: aqua;
    border-radius: 20px;
    border-bottom: solid;
}

.content-title {
    padding: 10px;
}

.content-description {
    margin-top: -30px;
    margin-bottom: 40px;
}

.read-more {
    display: inline-block
}
.read-more > a {
    width: 100%;
    padding: 10px;
}
.read-more, .read-more > a {
    background-color: mediumorchid;
    color: seashell;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: -10px;
    transition: transform 0.3s, background-color 0.3s ease;

}

.read-more:hover, .read-more > a:hover {
    background-color: purple;
    transform: scale(1.1)
}


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (min-width: 1000px) {
    .content-card {
        max-width: 800px;
    }
}
