body {
    text-align: center;
    margin: auto;
}


#canvas {
    position: absolute;
    z-index: -1;
    width: 800px;
    height: 898px;
    left: 210px;
    
}

#left-bar {
    position: absolute;
    background-color: black;
    top: 0;
    left:0;
    height: 897px;
    width: 210px;
}

#right-bar {
    position: absolute;
    background-color: black;
    top: 0;
    left: 1000px;
    height: 897px;
    width: 210px;
}

#bottom-bar {
    position: absolute;
    background-color: black;
    top: 877px;
    left: 0;
    width: 1100px;
    height: 20px;
}
#sky {
    position: absolute;
    background-color: hsl(200deg 60% 70%);
    height: 688px;
    width:800px;
    top: 0;
    left: 0;
}
#house {
    z-index: 4;
    position: absolute;
    width: 250px;
    height: 170px;
    top: 592px;
    left: 245px;
    background-color: yellow;
}

#left-window {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
    background-color: purple;
}

#right-window {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    right: 25px;
    background-color: purple;
}

#door {
    position: absolute;
    width: 50px;
    height: 100px;
    bottom: 0px;
    left: 100px;
    background-color: purple;
}

#prince-blocker {
    z-index: 6;
    position: absolute;
    background-color: yellow;
    width: 50px;
    height: 90px;
    top:80px;
    left:50px;
}
#prince-body {
    position: absolute;
    background-color: hsl(90deg 70% 60%);
    width: 20px;
    height: 50px;
    top: 35px;
    left:-12px;
    transform: rotate(10deg);
    border-radius: 2px;
}

#prince-face {
    position: absolute;
    width: 24px;
    height: 20px;
    background-color: rgb(251, 220, 180);
    border: solid hsl(90deg 75% 50%) 1px;
    border-top: none;
}

#mouth {
    position: absolute;
    background-color: red;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    top: 10px;
    left: 10px;

}

#left-eye {
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid black;
    left: 6px;
    top: 4px;

}

#right-eye {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid black;
    top: 4px;
    right: 5px;
}

#nose {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 4px solid rgb(185, 145, 92);
    top: 4px;
    left: 11px;
}

#prince-head {
    position: absolute;
    background-color: hsl(90deg 70% 60%);
    width: 40px;
    height: 28px;
    top: 30px;
    left: -10px;
    transform: rotate(10deg);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

#prince-antenna {
    position: absolute;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 15px solid yellow;
    transform: rotate(10deg);
    top: 15px;
    left: 4px;
}

#prince-pom-pom {
    position: absolute;
    border-radius: 50px;
    background-color: red;
    height: 8px;
    width: 8px;
    top: 12px;
    left: 5px;
}

#prince-hand {
    position: absolute;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid rgb(19, 160, 19);
    transform: rotate(-90deg);
    right: -0.2px;
    top: 50px;
}

#roof {
    z-index: 4;
    position: absolute;
    width: 0px;
    height: 0px;
    top: 42px;
    left: 175px;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 550px solid purple;
}

#floor {
    z-index: 1;
    position: absolute;
    background-color: hsl(105deg 65% 55%);
    width: 800px;
    height:210px;
    top: 688px;
    left: 0px;
}

#left-stump {
    z-index: 2;
    position: absolute;
    top: 55px;
    left: -25px;
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 690px solid hsl(40deg 80% 30%)
}

.branch {
    z-index: 1;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    transform: rotate(76deg);
}

.branch.first {
    border-bottom: 160px solid hsl(40deg 80% 30%);
    top: 410px;
    left: 96px;
}

.branch.second {
    border-bottom: 140px solid hsl(40deg 80% 30%);
    top: 310px;
    left: 79px;
}

.branch.third {
    border-bottom: 110px solid hsl(40deg 80% 30%);
    top: 220px;
    left: 57px
}

.branch.third.mirror {
    left: -87px;
    transform: rotate(-76deg);
}

.branch.fourth {
    border-bottom: 80px solid hsl(40deg 80% 30%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 140px;
    left: 40px;
}

.branch.fourth.mirror {
    left: -61px;
    transform: rotate(-76deg);
}

.branch.fifth {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 50px solid hsl(40deg 80% 30%);
    top: 50px;
    left: 24px;
}

.branch.fifth.mirror {
    transform: rotate(-76deg);
    left: -34px;
}

.leaf {
    z-index: -1;
    width: 100px;
    height: 100px;
    background-color: hsl(90deg 75% 40%);
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: -20px;
}

.leaf.first {
    top: 422px;
    left: 140px;
}

.leaf.second {
    top: 313px;
    left: 115px;
}

.leaf.third {
    top: 210px;
    left: 75px;
}

.leaf.fourth {
    top: 110px;
    left: 45px
}

.leaf.fifth {
    z-index: 1;
    top: 70px;
    left: 20px
}

.leaf.fifth.mirror {
    left: -70px
}

.leaf.top {
    z-index: 1;
    top: -25px;
    left: -25px;
}
#right-stump {
    z-index: 1;
    position: absolute;
    top: 55px;
    left: 710px;
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 690px solid hsl(40deg 80% 30%)
}

.grass {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid hsl(105deg 65% 55%);
}

.grass-1 {
    position: absolute;
    bottom: 0px;
}

.grass-2 {
    position: absolute;
    bottom: 0px;
    left: 14px;
}

.grass-3 {
    position: absolute;
    bottom: 0px;
    left: 28px;
}

.grass-4 {
    position: absolute;
    bottom: 0px;
    left: 42px;
}

.grass-5{
    position: absolute;
    bottom: 0px;
    left: 56px;
}
.grass-6 {
    position: absolute;
    bottom: 0px;
    left: 70px;
}
.grass-7 {
    position: absolute;
    bottom: 0px;
    left: 84px;
}
.grass-8 {
    position: absolute;
    bottom: 0px;
    left: 98px;
}
.grass-9 {
    position: absolute;
    bottom: 0px;
    left: 112px;
}
.grass-10 {
    position: absolute;
    bottom: 0px;
    left: 126px;
}
.grass-11 {
    position: absolute;
    bottom: 0px;
    left: 140px;
}

.grass-12 {
    position: absolute;
    bottom: 0px;
    left: 154px;
}
.grass-13 {
    position: absolute;
    bottom: 0px;
    left: 168px;
}
.grass-14 {
    position: absolute;
    bottom: 0px;
    left: 182px;
}
.grass-15 {
    position: absolute;
    bottom: 0px;
    left: 196px;
}
.grass-16 {
    position: absolute;
    bottom: 0px;
    left: 212px;
}
.grass-17 {
    position: absolute;
    bottom: 0px;
    left: 226px;
}
.grass-18 {
    position: absolute;
    bottom: 0px;
    left: 240px;
}
.grass-19 {
    position: absolute;
    bottom: 0px;
    left: 490px;
}
.grass-20 {
    position: absolute;
    bottom: 0px;
    left: 504px;
}
.grass-21 {
    position: absolute;
    bottom: 0px;
    left: 518px;
}
.grass-22 {
    position: absolute;
    bottom: 0px;
    left: 532px;
}
.grass-23 {
    position: absolute;
    bottom: 0px;
    left: 546px;
}
.grass-24 {
    position: absolute;
    bottom: 0px;
    left: 560px;
}
.grass-25 {
    position: absolute;
    bottom: 0px;
    left: 574px;
}
.grass-26 {
    position: absolute;
    bottom: 0px;
    left: 588px;
}
.grass-27 {
    position: absolute;
    bottom: 0px;
    left: 602px;
}
.grass-28 {
    position: absolute;
    bottom: 0px;
    left: 616px;
}
.grass-29 {
    position: absolute;
    bottom: 0px;
    left: 630px;
}
.grass-30 {
    position: absolute;
    bottom: 0px;
    left: 644px;
}
.grass-31 {
    position: absolute;
    bottom: 0px;
    left: 658px;
}
.grass-32 {
    position: absolute;
    bottom: 0px;
    left: 672px;
}
.grass-33 {
    position: absolute;
    bottom: 0px;
    left: 686px;
}
.grass-34 {
    position: absolute;
    bottom: 0px;
    left: 700px;
}
.grass-35 {
    position: absolute;
    bottom: 0px;
    left: 714px;
}
.grass-36 {
    position: absolute;
    bottom: 0px;
    left: 728px;
}

.katamari {
    z-index: 5;
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 50%;
    position: absolute;
    top: 700px;
    animation: katamari 6s ease-in-out infinite alternate 
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: hsl(60deg 90% 60%);
    border-radius: 50%;
}

.circle.one {
    top: 7px;
    left: calc(50% - 15px);
}

.circle.two {
    bottom: 20px;
    left: 10px;
}

.circle.three {
    bottom: 20px;
    right: 10px;
}

.oval {
    position: absolute;
    width: 30px;
    height: 10px;
    background-color: hsl(60deg 90% 60%);
    border-radius: 50% 50% 10% 10%;
}

.oval.one {
    right: 0px;
    top: 5px;
    transform: rotate(39deg);
}

.oval.two {
    right: -18px;
    top: 46px;
    transform: rotate(90deg);
}

.oval.three {
    right: 0px;
    bottom: 4px;
    transform: rotate(140deg);
}

.oval.four {
    left: 0px;
    bottom: 5px;
    transform: rotate(-140deg)
}

.oval.five {
    left: -18px;
    top: 46px;
    transform: rotate(-90deg);
}

.oval.six {
    left: 0px;
    top: 5px;
    transform: rotate(-39deg);
}

@keyframes katamari {
    0% {

    }
    100% {
        transform: translateX(790px) rotate(720deg);
    }
}