@font-face {
    font-family: 'oxanium';
    src: url(../../Fonts/oxanium/Oxanium-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'oxanium', Arial, Helvetica, sans-serif;
    text-align: center;
}



body {
    background-color: midnightblue;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    row-gap: 5px;
}

nav {
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

#return-to-page {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px

}

#return-to-page, .date, .description {
    font-size: 5vw;
}



#return-to-page:hover {
    color: lightgray;
}

h1 {
    background-color: lightgrey;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
}

.content-card {
    max-width: 300px;
    border: solid black;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: white;
}

.content-img {
    max-width: 100%;
    border-radius: 20px;
}

.title {
    text-align: center;
    font-size: 6vw;
}

.date {
    text-align: center;
    margin-bottom: 5px;
}

.description {
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

.content-card:hover {
    background-color: lightgray;
}


@media (min-width: 400px) {
    #return-to-page, .date, .description {
    font-size: 1.25rem;
    }

    .title {
        font-size: 2rem;
    }

    main {
        row-gap: 20px;
    }
}
