.home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #000;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.8);
  z-index: 1000;
  border-radius: 5px;
  width: 7vw;
  font-size: 1.2rem;
  margin: 0px;
}

.home-button:hover {
  background-color: hsl(10deg 0% 20%);
}
