@font-face {
    font-family: 'slabo';
    src: url(../../Fonts/Slabo_27px/Slabo27px-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    background-image: url("../../images/art.jpg");
    background-size: contain;
    background-position: center;
    font-family: 'slabo', Arial, Helvetica, sans-serif;
}

main {
    background-color: khaki;
    width: 85%;
    max-width: 2000px;
    margin: auto;
    border-radius: 20px;
    border-style: solid;
}

figure {
    display:inline-block;
    vertical-align: top;
    width:20%
}
img {
    max-width:100%;
    display: inline-block;
    border: 3px solid;
    vertical-align: middle;
}

a {
    color: black;
}

a:active {
    color: yellow;
}

a:hover {
    color: orange;
}